<include href="views/header.html"></include>

<link rel="stylesheet" href="styles/styles.css">

    <body>
    <div class="form-container">
        <form action="#" method="POST">
            <h2>Order a Pet</h2>
            <div class="form-group">
                <label for="petto">What kind of pet would you like to order?</label>
                <input type="text" id="petto" name="pet">
            </div>
            <div class="form-group">
                <label for="color-select">Select a color</label>
                <select id="color-select" name="color">
                    <option value="purple">purple</option>
                    <option value="lavender">lavender</option>
                    <option value="blue">blue</option>
                </select>
            </div>
            <button type="submit">Place Order</button>
        </form>
    </div>
    </body>
</html>