body {
    font-family: Arial, sans-serif;
}

.form-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* makes sure the padding doesn't affect the total width */
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5f5fc4;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4c4ca9;
}


/* Style for the order summary header */
.summary-header {
    font-family: 'Arial', sans-serif;
    color: #6a329f; /* Use color scheme from the main section */
    text-align: center;
    padding-top: 50px;
}

/* Style for the order summary confirmation message */
.summary-confirmation {
    color: #333333; /* Standard text color */
    margin-bottom: 30px; /* Space below the confirmation message */
}

/* Style for summary action buttons */
.summary-action-button {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    color: white;
    background-color: #6a329f; /* Button color from input[type="submit"] */
    text-decoration: none;
    border-radius: 4px; /* Rounded corners similar to the .rounded class */
    transition: background-color 0.3s ease;
}

/* Hover effect for summary action buttons */
.summary-action-button:hover {
    background-color: #582781; /* A darker shade for hover, can adjust as needed */
}


